* {
    box-sizing: border-box;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}

body, quoteInput {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #000;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #000;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quoteInput {
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}